*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    justify-content:end;
    gap: 50px;
    box-shadow: 1px 1px 1px 2px black;
    height: 120px;
    width: 100%;
}

.head{
    color: rgb(61, 55, 178);;
    padding-top: 35px;
}

.search-bar{
    padding-top: 35px;
}

.search-bar input{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    color:rgb(61, 55, 178);
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

.search-bar ::placeholder{
   color:gray;
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
}

.login{
    padding-top: 30px;
}

.login button{
    background-color: rgb(61, 55, 178);;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}